{% extends 'base.html' %}




{% block title %}Home{% endblock %}


{% block content %}

<script src="../static/select2.js" ></script>


    <div class="container">
        <div class="row">
            <div class="col md-12">

                <div class="jumbotron p-3">


                    <h2>Lista książek
                        <button type="button" class="btn btn-outline-success float-right"
                                data-toggle="modal" data-target="#mymodal"> Dodaj nową książkę
                        </button>


                    </h2>


                    <table class="table table-hover table-dark">

                        <tr>

                            <th>ID</th>
                            <th>Tytuł</th>
                            <th>Autor</th>
                            <th>Wydawnictwo</th>
                            <th>Ilość stron</th>
                            <th>Data wydania</th>
                            <th>Rodzaj oprawy</th>
                            <th>Akcja</th>

                        </tr>



                        {% for row in books %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.title }}</td>
                                <td>{{ row.author.author_name }}</td>
                                <td>{{ row.publisher.publisher_name }}</td>
                                <td>{{ row.pages }}</td>
                                <td>{{ row.date_published }}</td>
                                <td>{{ row.cover_type }}</td>

                                <td>
                                    <a href="/update/{{ row.id }}" class="btn btn-outline-warning btn-xs"
                                       data-toggle="modal"
                                       data-target="#modaledit{{ row.id }}">Edytuj</a>
                                    <a href="/delete/{{ row.id }}" class="btn btn-outline-danger btn-xs"
                                       onclick="return confirm('Czy na pewno chcesz skasować ?')">Kasuj</a>


                                </td>

                            </tr>


                            <!-- Modal Edit Books-->
                            <div id="modaledit{{ row.id }}" class="modal fade" role="dialog">
                                <div class="modal-dialog">


                                    <div class="modal-content">


                                        <div class="modal-header">


                                            <h4 class="modal-title">Okno edycji</h4>

                                        </div>

                                        <div class="modal-body">

                                            <form action="{{ url_for('update_book') }}" method="POST">

                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                                <div class="form-group">

                                                    <label>Tytuł:</label>
                                                    <input type="hidden" name="id" value="{{ row.id }}">

                                                    <input type="text" class="form-control" name="title"
                                                           value="{{ row.title }}">

                                                </div>

                                                <div class="select2-container" style="width: 100%;">

                                                    <div class="form-group">


                                                        <label>Autor:</label>


                                                        <select id="selAuthor1" name="author_name" style="width: 100%;">
                                                            <option value="{{row.author.id}}" selected="selected">{{ row.author.author_name }}</option>
                                                        </select>


                                                    </div>

                                                    <div class="form-group">


                                                        <label>Wydawnictwo:</label>

                                                        <select id="selPublisher1" name="publisher_name" style="width: 100%;">
                                                            <option value="{{ row.publisher.id }}" selected="selected">{{ row.publisher.publisher_name }}</option>
                                                        </select>


                                                    </div>
                                                </div>

                                                <div class="form-group">


                                                    <label>Ilość stron:</label>

                                                    <input type="number" class="form-control" name="pages"
                                                           value="{{ row.pages }}">


                                                </div>

                                                <div class="form-group">


                                                    <label>Data wydania:</label>

                                                    <input type="text" class="form-control" name="date_published"
                                                           value="{{ row.date_published }}">


                                                </div>

                                                <div class="form-group">


                                                    <label>Rodzaj oprawy:</label>


                                                    <select name="cover_type" style="width: 100%;">

                                                        <option value="twarda">twarda</option>
                                                        <option value="miękka">miękka</option>
                                                    </select>


                                                </div>


                                                <div class="form-group">


                                                    <button class="btn btn-primary" type="submit">Edytuj</button>


                                                </div>


                                            </form>


                                        </div>


                                        <div class="modal-footer">


                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                Zamknij
                                            </button>


                                        </div>


                                    </div>


                                </div>

                            </div>


                        {% endfor %}


                    </table>


                </div>


                <!-- Modal Add Books-->


                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Dodaj książkę</h4>
                            </div>
                            <div class="modal-body">

                                <form action="{{ url_for('add_book') }}" method="POST">

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="form-group">

                                        <label>Tytuł:</label>
                                        <input type="text" class="form-control" name="title" required="1">


                                    </div>
                                    <div class="form-group">
                                        <label>Autor:</label>
                                        <select id="selAuthor" name="author_name" style="width: 100%;">
                                            <option value="0">-----------</option>
                                        </select>

                                    </div>


                                    <div class="form-group">

                                        <label>Wydwnictwo:</label>
                                        <select id="selPublisher" name="publisher_name" style="width: 100%;">
                                            <option value="0">-----------</option>
                                        </select>


                                    </div>

                                    <div class="form-group">


                                        <label>Ilość stron:</label>
                                        <input type="number" class="form-control" name="pages" required="1">


                                    </div>

                                    <div class="form-group">

                                        <label>Data wydania:</label>
                                        <input type="date" class="form-control" name="date_published" required="1">


                                    </div>

                                    <div class="form-group">

                                        <label>Rodzaj oprawy:</label>
                                        <select name="cover_type" style="width: 100%;">
                                            <option value="twarda">twarda</option>
                                            <option value="miękka">miękka</option>
                                        </select>

                                    </div>


                                    <div class="form-group">


                                        <button class="btn btn-primary" type="submit">Dodaj książkę</button>


                                    </div>


                                </form>


                            </div>


                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>


                            </div>


                        </div>


                    </div>


                </div>


            </div>

        </div>


    </div>


{% endblock %}