{% extends 'base.html'%}


{% block title %}Login{% endblock %}


{% block content %}

<!-- Modal Login Users-->

                <div id="modal_login" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Zaloguj</h4>
                            </div>
                            <div class="modal-body">

                                <form action="{{ url_for('login') }}" method="POST">

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="form-group">

                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                                        <label>Nazwa użytkownika:</label>
                                        <input type="text" class="form-control" name="username" required="1">


                                    </div>


                                    <div class="form-group">


                                        <label>Hasło:</label>
                                        <input type="password" class="form-control" name="password" required="1">


                                    </div>

                                    <div class="form-check">


                                        <input type="checkbox" class="form-check-input" name="remember_me">
                                        <label> pamiętaj mnie</label>


                                    </div>

                                    <div class="form-group">


                                        <button class="btn btn-primary" type="submit">Zaloguj</button>


                                    </div>


                                </form>


                            </div>


                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>


                            </div>


                        </div>


                    </div>


                </div>


    <!-- Modal Register Users-->

    <div id="modal_register" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Rejestracja</h4>
                </div>
                <div class="modal-body">

                    <form action="{{ url_for('register') }}" method="POST">

                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                        <div class="form-group">

                            <label>Nazwa użytkownika:</label>
                            <input type="text" class="form-control" name="username" required="1">

                        </div>

                        <div class="form-group">

                            <label>Hasło:</label>
                            <input type="password" class="form-control" name="password" required="1">

                        </div>

                        <div class="form-group">

                            <label>email:</label>
                            <input type="email" class="form-control" name="email" required="1">

                        </div>

                        <div class="form-group">

                            <button class="btn btn-primary" type="submit">Rejestruj</button>

                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>

                </div>

            </div>

        </div>

    </div>


{% endblock %}