{% extends 'base.html'%}

{% block navbar %}{% endblock %}

{% block content %}


            <button type="button" class="btn btn-outline-secondary float-right mr-1"
                    data-toggle="modal" data-target="#modal_reset_email"> Zaloguj
            </button>




<!-- Modal Login Users-->

                <div id="modal_reset_email" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Reset hasła przez email</h4>
                            </div>
                            <div class="modal-body">

                                <form method="POST">

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="form-group">

                                        <label>email:</label>
                                        <input type="email" class="form-control" name="email" required="1">

                                    </div>


                                    <div class="form-group">

                                        <button class="btn btn-primary" type="submit">Wyślij</button>

                                    </div>

                                </form>


                            </div>


                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>


                            </div>


                        </div>


                    </div>


                </div>

{% endblock %}