{% extends 'base.html'%}

{% block navbar %}{% endblock %}

{% block content %}


<script type="text/javascript">
    $(window).on('load', function() {
        $('#modal_new_password').modal('show');
    });
</script>



<!-- Modal Reset password-->

                <div id="modal_new_password" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <h4 class="modal-title">Wprowadź nowe hasło</h4>
                            </div>
                            <div class="modal-body">

                                <form method="POST">

                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="form-group">

                                        <label>Hasło:</label>
                                        <input type="password" class="form-control" name="password" required="1">

                                    </div>


                                    <div class="form-group">

                                        <button class="btn btn-primary" type="submit">Wyślij</button>

                                    </div>

                                </form>


                            </div>


                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>


                            </div>


                        </div>


                    </div>


                </div>

{% endblock %}